﻿@{
    ViewBag.Title = "Client2";
}
<input type="text" id="code" class="form-control input-sm" />
@*<input type="button" id="match" value="配對" />*@

<input type="button" id="hello" value="飛鴿傳書"/>

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<script type="text/javascript" src="/signalr/hubs"></script>
<script>
    var player = $.connection.testHub;

    $("#match").click(function () {
        player.server.findSameCode($("#code").val());
    });

    $("#hello").click(function () {
        player.server.fooWoo('hello');
    });


    $.connection.hub.start().done();

    player.client.matchMsg = function (message) {
        if (message) {
            console.log("已配對");
            $("#match").hide();
        } else
        {
            console.log("配對失敗");
        }
    };

    player.client.hello = function (message) {
        console.log(message);
    };
</script>