﻿
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div>
        <button class="say" data-ser="servent1" data-act="attack()">哭哭饅頭</button>
        <button class="say" data-ser="servent1" data-act="laugh()">笑笑饅頭</button>

        <button class="say" data-ser="servent2" data-act="attack()">哭哭王</button>
        <button class="say" data-ser="servent2" data-act="laugh()">笑笑王</button>

        <button class="say" data-ser="servent3" data-act="attack">哭哭唔姆</button>
        <button class="say" data-ser="servent3" data-act="laugh">笑笑唔姆</button>
        <input id="newName" type="text" />
        <button onclick="servent3.reName = $('#newName').val() ;">唔姆進化</button>
    </div>
    <br />
    <div>
        <h3 id="name"></h3>
        <p style="display:inline">攻擊對象</p>
        <select id="anemy">
            <option value="">全體</option>
        </select>
    </div>
    <div>
        <div class="col-md-4" style="border-style:ridge;height:500px;overflow:auto">
            <h3>訊息區</h3>
            <div id="msg_area">
                <div>

                </div>
            </div>
        </div>
        <div class="col-md-8" style="border-style:ridge;height:500px">
            <svg height="60%" width="100%">
                <g>
                    <circle fill="#FF4343" stroke="#890000" stroke-width="5" cx="100" cy="100" r="44" />
                    <ellipse fill="#77DD47" stroke="#246614" stroke-width="5" cx="200" cy="200" rx="67" ry="44" />
                    <polygon fill="#68EADD" points="151,39 163,63 189,66 170,85 175,111 151,99 127,111 132,85
    113,66 139,63 " />
                </g>
            </svg>
            <div class="camera">
                <div class="space">
                    <div class="box1">1</div>
                    <div class="box2">2</div>
                    <div class="box3">3</div>
                    <div class="box4">4</div>
                    <div class="box5">5</div>
                    <div class="box6">6</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="pageTest">
    <pagelist ref="miy_pagelist" v-bind="out"></pagelist>
</div>
<style>
    .camera {
        width: 200px;
        height: 200px;
        perspective-origin: center center;
        -moz-perspective-origin: center center;
        -webkit-perspective-origin: center center;
        perspective: 500px;
        -moz-perspective: 500px;
        -webkit-perspective: 500px;
    }

    .space {
        position: relative;
        width: 100%;
        height: 100%;
        border: 1px dashed #000;
        transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
    }

        .space div {
            position: absolute;
            width: 100px;
            height: 100px;
            font-size: 50px;
            text-align: center;
            line-height: 100px;
        }
    .box1 {
        background: rgba(255,0,0,.2);
        transform: translateX(50px) translateY(50px);
    }
    .box2 {
        background: rgba(255,255,0,.2);
        transform-origin: left top;
        transform: translateX(150px) translateY(50px) rotateY(90deg);
    }
    .box3 {
        background: rgba(0,255,0,.2);
        transform: translateX(50px) translateY(50px) translateZ(-100px) rotateY(180deg);
    }

    .box4 {
        background: rgba(255,0,255,.2);
        transform-origin: right top;
        transform: translateX(-50px) translateY(50px) rotateY(-90deg);
    }
    .box5 {
        background: rgba(0,0,255,.2);
        transform-origin: center bottom;
        transform: translateX(50px) translateY(-50px) rotateX(90deg);
    }

    .box6 {
        background: rgba(0,255,255,.2);
        transform-origin: center top;
        transform: translateX(50px) translateY(150px) rotateX(-90deg);
    }
    .space {
        position: relative;
        width: 100%;
        height: 100%;
        -webkit-transform-style: preserve-3d;
        -webkit-transform-origin: center center -50px;
        -webkit-animation: s 4s linear infinite;
    }
    @@-webkit-keyframes s{
    0%{
        -webkit-transform:rotateY(0);
    }
    100%{
        -webkit-transform:rotateY(-359.9deg);
    }
}
</style>
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.signalR-2.2.3.min.js"></script>
<script type="text/javascript" src="/signalr/hubs"></script>
<script>
    var userName = prompt("姓名", "貞德我婆");

    $('#name').html(userName);

    var player = $.connection.testHub;

    player.client.getCode = function (message) {
        for (let i = 0; i < 4; i++) {
            $("#input div:eq(" + i + ")").html(message.substr(i, 1));
        }
    };

    $.connection.hub.start().done(function () {
        //player.server.createCode();
        player.server.hello(userName);
    });

    $(".say").click(function () {
        let msg = eval($(this).attr('data-ser') + '.' + $(this).attr('data-act'));
        player.server.sendMessage(userName, msg, $('#anemy').val());
    });

    player.client.matchMsg = function (message) {
        if (message) {
            console.log("已配對");
        } else {
            console.log("配對失敗");
        }
    };

    player.client.hello = function (response) {
        console.log(response);
        $('#msg_area').prepend($('<div><p>' + response.message + '</p></div>'));
        $('#anemy').empty();
        $('#anemy').append($('<option value="">全體</option>'));
        response.ServentList.filter(x=>x.Code != userName).forEach(x=> {
            $('#anemy').append($('<option value="' + x.ConnectionID + '">' + x.Code + '</option>'));
        });
    };

    player.client.sendAllMessge = function (message) {
        $('#msg_area').prepend($('<div><p>' + message + '</p></div>'));
    };
    ////////////////////////////////////////////////
    var baseServent = {
        name: '',
        nickName: '',
        master:'',
        myLaugh: '',
        weapon:'',
        laugh: function () {
            return this.nickName + ' 對著你 ' + this.myLaugh;
        },
        attack: function () {
            return this.master + ' 命令 ' + this.nickName + ' 對著你使出了 ' + this.weapon;
        }
    };

    var servent1 = Object.create(baseServent);
    servent1.name = '拉美吉爾什';
    servent1.nickName = '金閃閃';
    servent1.master = '愉悅君';
    servent1.myLaugh = '哼哼哈哈哈哈哈哈';
    servent1.weapon = '愉悅EA棒';

    var baseServent2 = function (name, nickName, master, myLaugh, weapon) {
        this.name = name,
        this.nickName = nickName,
        this.master = master,
        this.myLaugh = myLaugh,
        this.weapon = weapon,
        this.laugh = function () {
            return this.nickName + ' 對著你 ' + this.myLaugh;
        },
        this.attack = function () {
            return this.master + ' 命令 ' + this.nickName + ' 對著你使出了 ' + this.weapon;
        }
    };

    var servent2 = new baseServent2('阿爾托莉亞', '呆毛王', '土郎君', '哈啊！', 'Ex咖哩棒!');

    class baseServentProperty {
        constructor(name, nickName, master, myLaugh, weapon) {
            this.name = name;
            this.nickName = nickName;
            this.master = master;
            this.myLaugh = myLaugh;
            this.weapon = weapon;
        }
    }

    class baseServent3 extends baseServentProperty {
        constructor(name, nickName, master, myLaugh, weapon) {
            super(name, nickName, master, myLaugh, weapon);
        }
        get laugh() {
            return this.nickName + ' 對著你 ' + this.myLaugh;
        }
        get attack() {
            return this.master + ' 命令 ' + this.nickName + ' 對著你使出了 ' + this.weapon;
        }
        set reName(newName) {
            this.nickName = newName;
        }
    }

    var servent3 = new baseServent3('尼祿', '嫁王', '唔姆君', '唔姆唔姆', '唔姆唔姆唔姆唔姆唔姆！！');
    //////////////////////////////////////////////////////
    //////////////////////////////////////////////////////
    ////////////////以下為第一特異點//////////////////////
    //////////////////////////////////////////////////////
    //////////////////////////////////////////////////////
    //var person = function ()
    //{
    //    this.name = '拉美吉爾什';
    //    this.nickName = '金閃閃';
    //};
    //var preson2 = {
    //    name: '阿爾托莉亞',
    //    nickName: '呆毛王',
    //    laugh: function () {
    //        return 'master' + this.master + '->' + this.nickName + '：哈啊！';
    //    }
    //};
    //person.prototype.laugh = function (master)
    //{
    //    return 'master' + master + '->' + this.nickName + '：哼哼哈哈哈哈哈哈';
    //};
    //var servent = new person();
    //var servent2 = Object.create(preson2);
    //servent2.master = '土郎君';
    //alert(servent.laugh('愉悅君'));
    //alert(servent2.laugh());
    //////////////////////////////////////////////////////
    //////////////////////////////////////////////////////
    ////////////////以上為第一特異點//////////////////////
    //////////////////////////////////////////////////////
    //////////////////////////////////////////////////////
</script>
@section scripts{ 
<script>
    MiyPagelist.Init({
        Search: function () {
            app.SearchDealer.pageCnt = app.$refs.miy_pagelist.NowPage;
            app.$refs.miy_pagelist.PageLength = 50;
            app.UserData = [];
        },
        ChangeMaxItemsOnePage: function () {
            if (app.$refs.miy_pagelist.MaxItemsOnePage <= 0) {
                app.$refs.miy_pagelist.MaxItemsOnePage = 1;
            }
            app.SearchDealer.MaxItemsOnePage = app.$refs.miy_pagelist.MaxItemsOnePage;
        },
        MaxItemsOnePage: 10,
        PageSize: true
    });

    var app = new Vue({
        el: '#pageTest',
        data: {
            UserData: [],
            SearchDealer: {
                ShortName: '',
                Code: '',
                Mail: '',
                pageCnt: 1,
                MaxItemsOnePage: 10
            },
            SelectId: [],
            ChselectAll: false,
            out: {
                a: 1,
                b: 'haha',
                outSidePageLength:3
            }
        },
        beforeCreate: function () {

        },
        created: function () {
            let vm = this;
            setTimeout(function () {
                vm.Search();
            }, 10);
        },
        computed: {
            displayData: function () {
                return this.UserData.slice((this.SearchDealer.pageCnt - 1) * this.SearchDealer.MaxItemsOnePage, this.SearchDealer.pageCnt * this.SearchDealer.MaxItemsOnePage);
            }
        },
        methods: {
            Search: function () {
                this.$refs.miy_pagelist.Search();
            }
        }
    });
</script>
}
