﻿
@{
    ViewBag.Title = "MiyVerTest";
}

<div class="row" id="pageTest">
    <div class="col-lg-12">
        <div class="form-group">
            @*<input class="form-control" v-ver:required="test" />*@
        </div>
        <div class="form-group">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <td class="col-md-1">名稱</td>
                        <td class="col-md-1">起源</td>
                        <td class="col-md-1">起源職司</td>
                    </tr>
                </thead>
                <tbody v-if="thought.length > 0">
                    <tr v-for="item in displayData">
                        <td>{{item.name}}</td>
                        <td>{{item.source}}</td>
                        <td>{{item.responsibility}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-10">
                <pagelist ref="miy_pagelist"></pagelist>
            </div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-blue" @@click="submit()">送出</button>
        </div>
    </div>
</div>
@section scripts{
    <script type="module" src="~/Scripts/Component/MiyVerTest.js"></script>
}